body {
  background-color: #aaa;
}


.res-block {
  display: inline-block;
  background-color: #eee;
  border-radius: 5px;
}

.login-max-width {
  max-width: 500px;
}

.search-style {
  background-color: #495057;
}

.navigation-search {
  position: relative;
  left: -50px;
}

.dropdown-menu {
  width: 250px;
}

.nav-user-login {
  border-radius: 50%;
}